<h1><i class="fas fa-sim-card"></i> Lineas</h1>
<% if current_admin.can_create? %>
  <%= link_to "Nueva Línea", new_line_path, remote: :true, class:"btn btn-success" %>
<% end %>

<% unless @lines.count == 0 %>
<table class="table table-stripped table-hover table-dark">
  <thead>
    <th>Número</th>
    <th>Usuario</th>
    <th>Oficina</th>
    <th>Plan</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @lines.each do |line| %>
    <tr>
      <td class="align-middle"><%= line.get_number %></td>
      <td class="align-middle"><%= line.get_user_fullname %></td>
      <td class="align-middle"><%= line.get_office_fullname %></td>
      <td class="align-middle"><%= line.get_plan %></td>
      <td class="align-middle">
        <% if current_admin.can_create? %>
          <%= link_to "Editar", edit_line_path(line), remote: :true, class:"btn btn-success" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">No hay líneas cargados!</h4>
  <p>Un adminsitrador con permisos de acceso debería comenzar a agregarlas.</p>
  <span class="fa-stack fa-2x">
  <i class="fas fa-sim-card fa-stack-2x pull-left"></i>
  <i class="fas fa-plus fa-stack-1x" style="color:Lightgreen"></i>
</span>
</div>
<% end %>

<!-- Experimantal -->
<div class="" id="new-line">

</div>
