<div class="modal fade" id="form-office" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Formulario Oficina</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <%= form_with(model: office, url:offices_path, method:"post") do |o| %>

      <div class="modal-body">

        <div class="form-group">
          <%= o.label :office_id, "Pertenece a" %>
          <%= o.select :office_id, @offices_options.map { |val| [val[0],val[1]] }, {}, {class:"form-control"} %>
        </div>

        <div class="form-group">
          <%= o.label :category, "Categoría" %>
          <%= o.select :category, @categories_options.map { |val| [val,val] }, {}, {class:"form-control"} %>
        </div>

        <div class="form-group">
          <%= o.label :name, "Nombre de la oficina" %>
          <%= o.text_field :name, class:"form-control" %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <%= o.submit "Guardar", class:"btn btn-primary" %>
      </div>

    <% end %>

  </div>
</div>
</div>
