<h1><%=  @report.get_account %> <small> <%= @report.get_date %> </small> </h1>
<table class="table table-stripped table-hover table-dark">
  <thead>

    <th><%= @table_head[0] %></th>
    <th><%= @table_head[1] %></th>
    <th><%= @table_head[4] %></th>
    <th><%= @table_head[5] %></th>
    <th><%= @table_head[7] %></th>
    <th><%= @table_head[6] %></th>
    <th><%= @table_head[8] %></th>

    <th>Acciones</th>
  </thead>
  <tbody>
    <% @table_body.each do |row| %>
    <tr>
      <td class="align-middle"><%= row[0] %></td>
      <td class="align-middle">?</td>
      <td class="align-middle"><%= truncate_last(row[4],6) %></td>
      <td class="align-middle"><%= truncate_last(row[5],5) %></td>
      <td class="align-middle"><%= format_device_name row[7] %></td>
      <td class="align-middle"><%= truncate_last(row[6],5) %></td>
      <td class="align-middle"><%= format_device_name row[8] %></td>
      <td class="align-middle">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#line-<%= row[0] %>">
          Ver
        </button>
      </td>

      <!-- Modal -->
      <div class="modal fade" id="line-<%= row[0] %>" tabindex="-1" role="dialog" aria-labelledby="line-modal-label-<%= row[0] %>" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="line-modal-label-<%= row[0] %>"><%= row[0] %></h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Card -->
              <div class="card alert-info" style="">
                <div class="card-body">
                  <h5 class="card-title">Datos del reporte (CSV)</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Sistema Claro</h6>
                  <p class="card-text"><b>Nombre:</b> <%= row[1] %> </p>
                  <p class="card-text"><b>N° SIM:</b> <%= row[4] %> </p>
                  <p class="card-text"><b>Equipo registrado:</b> <%= format_device_fullname(row[7],row[5]) %> </p>
                  <p class="card-text"><b>Equipo en uso:</b> <%= format_device_fullname(row[8],row[6]) %></p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    <% end %>
  </tbody>
</table>
