<table class="table table-hover table-stripped table-dark">
  <thead>
    <th>Marca</th>
    <th>Nombre modelo</th>
    <th>Unidades</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @device_models.each do |dm| %>
    <tr>
      <td><%= dm.get_mark %></td>
      <td><%= dm.get_full_model_name %></td>
      <td><%= dm.get_slot_sim %></td>
      <td><%= dm.get_band %></td>
      <td><%= dm.get_os_max %></td>
      <td><%= dm.get_ram_size %></td>
      <td><%= dm.get_rom_size %></td>
      <td><%= dm.get_cpu_freq_max %></td>
      <td><%= dm.get_cores %></td>
      <td><%= dm.get_full_screen_size %></td>
      <td><%= dm.get_cams_mp %></td>
      <td><%= dm.get_battery %></td>
      <td><%= dm.get_usb_type %></td>
      <td><%= dm.get_announce_date %></td>
      <td>#</td>
      <td>...</td>
    </tr>
    <% end %>
  </tbody>
</table>
