<table class="table table-hover table-stripped table-dark">
  <thead>
    <th>Marca</th>
    <th>Nombre modelo</th>
    <th>SIM</th>
    <th>Banda</th>
    <th>S.O. (Act.)</th>
    <th>RAM</th>
    <th>ROM</th>
    <th>Frec. CPU</th>
    <th>Núcleos (CPU)</th>
    <th>Pantalla</th>
    <th>Cámaras</th>
    <th>Batería</th>
    <th>USB</th>
    <th>Fecha</th>
    <th>Cant.</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @device_models.each do |dm| %>
    <tr>
      <td class="align-middle"><%= dm.get_mark %></td>
      <td class="align-middle"><%= dm.get_full_model_name %></td>
      <td class="align-middle"><%= dm.get_slot_sim %></td>
      <td class="align-middle"><%= dm.get_band %></td>
      <td class="align-middle"><%= dm.get_os_max %></td>
      <td class="align-middle"><%= dm.get_ram_size %></td>
      <td class="align-middle"><%= dm.get_rom_size %></td>
      <td class="align-middle"><%= dm.get_cpu_freq_max %></td>
      <td class="align-middle"><%= dm.get_cores %></td>
      <td class="align-middle"><%= dm.get_full_screen_size %></td>
      <td class="align-middle"><%= dm.get_cams_mp %></td>
      <td class="align-middle"><%= dm.get_battery %></td>
      <td class="align-middle"><%= dm.get_usb_type %></td>
      <td class="align-middle"><%= dm.get_announce_date %></td>
      <td class="align-middle">#</td>
      <td class="align-middle">...</td>
    </tr>
    <% end %>
  </tbody>
</table>
