<h1>Adminzone</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="admins-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="admins" aria-selected="true">Administradores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="device-models-tab" data-toggle="tab" href="#device-models" role="tab" aria-controls="device-models" aria-selected="true">Modelos de Equipo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="offices-tab" data-toggle="tab" href="#offices" role="tab" aria-controls="offices" aria-selected="false">Oficinas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="plans-tab" data-toggle="tab" href="#plans" role="tab" aria-controls="plans" aria-selected="false">Planes de celulares</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab" aria-controls="accounts" aria-selected="false">Cuentas de celulares</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="form-options-tab" data-toggle="tab" href="#form-options" role="tab" aria-controls="form-options" aria-selected="false">Opciones para formularios</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="admins" role="tabpanel" aria-labelledby="admins-tab">
    Lista de administradores
  </div>

  <div class="tab-pane fade show" id="device-models" role="tabpanel" aria-labelledby="device-models-tab">
    <%= link_to "Nuevo modelo de equipo", new_device_model_path, remote: :true, class:"btn btn-success" %>
    <%= render "device-models_table" %>
    <div class="" id="new-device-model">
    </div>
  </div>

  <div class="tab-pane fade" id="offices" role="tabpanel" aria-labelledby="offices-tab">
    <%= link_to "Nueva Oficina", new_office_path, remote: :true, class:"btn btn-success" %>
    <%= render "offices_table" %>
    <div class="" id="new-office">
    </div>
  </div>

  <div class="tab-pane fade" id="plans" role="tabpanel" aria-labelledby="plans-tab">
    <%= link_to "Nuevo plan celular", new_plan_path, remote: :true, class:"btn btn-success" %>
    <%= render "plans_table" %>
    <div class="" id="new-plan">
    </div>
  </div>

  <div class="tab-pane fade" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
    <%= link_to "Nueva cuenta (líneas)", new_account_path, remote: :true, class:"btn btn-success" %>
    <%= render "accounts_table" %>
    <div class="" id="new-account">
    </div>

  </div>
  <div class="tab-pane fade" id="form-options" role="tabpanel" aria-labelledby="form-options-tab">
    <%= link_to "Nueva opción de formulario", new_form_option_path, remote: :true, class:"btn btn-success" %>
    <%= render "form_options_table" %>
    <div class="" id="new-form-option">

    </div>
  </div>
</div>
