<!DOCTYPE html>
<html>
  <head>
    <title>TelefoniaOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-a11y="true"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to(root_path, class: "navbar-brand brand-title") do %>
        <img src="/assets/Telephone.png" width="60" height="60" class="d-inline-block" alt="">
        Telefonía On Rails
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to(root_path, class: "nav-link btn") do %>
              <i class="fas fa-tachometer-alt fa-2x"></i>
              <div class="">
                Home
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to("#", class: "nav-link btn") do %>
              <i class="fas fa-mobile-alt fa-2x"></i>
              <div class="">
                Celulares
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to("#", class: "nav-link btn") do %>
              <i class="fas fa-users fa-2x"></i>
              <div class="">
                Usuarios
              </div>
            <% end %>
          </li>

        </ul>
        <ul class="navbar-nav">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to("#", class: "nav-link btn") do %>
            <i class="fas fa-cog fa-2x"></i>
            <div class="">
              Editar
            </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to("#", method: :delete, class: "nav-link btn") do %>
            <i class="fas fa-user-slash fa-2x"></i>
            <div class="">
              Cerrar Sesión
            </div>
            <% end %>
          </li>
          <% unless current_admin.access_level < 3 %>
          <li class="nav-item">
            <%= link_to("#", class: "nav-link btn") do %>
            <i class="fas fa-user-tie fa-2x"></i>
            <div class="">
              AdminZone
            </div>
            <% end %>
          </li>
          <% end %>
        <% end %>
        <li class="nav-item">
          <%= link_to("#", class: "nav-link btn") do %>
          <i class="fas fa-question-circle fa-2x"></i>
          <div class="">
            Acerca de
          </div>
          <% end %>
        </li>
      </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
