<!DOCTYPE html>
<html>
  <head>
    <title>TelefoniaOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-a11y="true"></script>
  </head>

  <body class="container-fluid">
    <i class="fas fa-sim-card fa-5x fa-spin"></i>
    <%= yield %>
  </body>
</html>
